
.bar{
    transition: .2s linear;
    border-radius: 12px;
    background-color: #262626;
}
.bar:hover{
    background-color: #303030;
}

.grad {
    background: linear-gradient(45deg, #ED274A, #FF620A, #FF007F, #d81438 );
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
  }
