.card {
  width: 230px;
  margin-top: 20px;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: 0.2s linear;
  border: 2px solid #404040;
  background: radial-gradient(
    59.04% 78.33% at -22.2% 124.9%,
    #ff620a 0%,
    #171717 100%
  );
}
.card:hover {
  border: 2px solid #f8f8f850;
}
.card_p {
  width: 230px;
  margin-top: 20px;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 12px;
  margin-left: 20px;
  border: 2px solid #404040;
  transition: 0.2s linear;
  background: radial-gradient(
    56% 66% at 106.59% 136.88%,
    #ed274a 0%,
    #171717 100%
  );
}
.card_p:hover {
  border: 2px solid #f8f8f850;
}
.select{
  border: 2px solid #ed274a;
  border-radius: 6px;
  transform: scale(1.05);
}
.free_t {
  font-size: 28px;
  font-family: Bold;
  color: #fff;
  margin: 0;
}
.free_p {
  color: #bfbfbf;
  font-family: Book;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 8px;
}

.free_text {
  color: #bfbfbf;
  font-family: Book;
  font-size: 14px;
  margin-top: 0;
}

.bt_free {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #747474;
  backdrop-filter: blur(100px);
  font-size: 18px;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-style: normal;
  color: #f7f7f7;
  font-family: Medium;
  font-weight: 450;
  line-height: normal;
}

.type {
  border-radius: 100px;
  border: 1px solid #666;
  background: #292929;
  color: #fff;
  font-family: Medium;
  margin-bottom: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  text-align: center;
  align-self: flex-start;
  padding: 8px 20px;
  flex-shrink: 0;
}

.type_premium {
  border-radius: 100px;
  background: #ed274a;
  color: #fff;
  font-family: Medium;
  margin-bottom: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  text-align: center;
  align-self: flex-start;
  padding: 8px 20px;
  flex-shrink: 0;
}

.checked {
  width: 230px;
  margin-top: 20px;
  border-radius: 16px;
  padding: 18px;
  border: 1px solid var(--border, #6c6c6c);
  background: radial-gradient(
    71.54% 71.54% at 50.26% 100%,
    #272727 0%,
    rgba(39, 39, 39, 0) 100%
  );
}

.line {
  opacity: 0.4;
  height: 1px;
  background: #f7f7f7;
}


.scroll-container {
  height: 330px;
  overflow-y: auto; 
  border-radius: 12px;
  background-color: #222222;
  margin: 10px 0;
}

/* Estilizando a barra de rolagem */
.scroll-container::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #707070; /* Cor do polegar da barra de rolagem */
  border-radius: 6px; /* Borda arredondada do polegar */
  cursor: pointer;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #404040; /* Cor da trilha da barra de rolagem */
}