.banner{
    margin-top: 12px; 
    margin-right: 6px; 
    overflow: auto;
    border-radius: 8px;
    position: relative;

}
.cardlist{
    background: linear-gradient(145deg, #404040 -20.91%, #262626 54.92%);
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    cursor: pointer;
    transition: .2s linear;
}
.cardlist:hover{
    transform: scale(1.03);
}

.content{
    backdrop-filter: blur(500px);
    margin-top: 10px;
}

.btall{
    font-size: 24; 
    cursor: pointer;
    font-family: 'Medium'; 
    margin-bottom: 30px;
    padding: 10px 20px;
    transition: .2s linear;
    color: #909090;
    border-radius: 100px;
    align-self: center;
    border: 2px solid #909090;
}
.btall:hover{
    color: #fff;
    border: 2px solid #fff;
}

.top{
    position: fixed;
    bottom: 40px;
    right: 380px;
    z-index: 999;
    width: 64px;
    height: 64px;
    font-size: 32px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    animation: fadeInUp 0.3s ease-in-out; 
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .imgcapa{
    transform: rotate(-35deg)  scale(.7);
    border-radius: 4px;
    margin-bottom: -100px;
    margin-right:100px;
    transition: .3s linear;
  }
  .imgcapa:hover{
    
    transform: rotate(0deg)  scale(1);
  }