@keyframes toastAnimation {
    0% {
        transform: translate(0%, 100px);
    }
    100% {
        transform: translate(0%, -30px);
        }
}

.toast {
    animation: toastAnimation 1s ease-in-out;
    animation-fill-mode: forwards;
    color: #fff;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 4px;
    position: fixed;
    font-family: 'Book';
    bottom: 0px;
    right: 30px;
}