.banner{
    margin: 12px; 
    margin-left: 6px; 
    padding: 44px;
    padding-right: 0px;
    border-radius: 8px;
    width: 100%;
    background: linear-gradient(145deg, #ED274A -20.91%, #191919 54.92%);
}
.cardlist{
    background: linear-gradient(145deg, #404040 -20.91%, #262626 54.92%);
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    cursor: pointer;
    transition: .2s linear;
}
.cardlist:hover{
    transform: scale(1.03);
}