.ball{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    transition: all 0.3s;
    cursor: pointer;
}

.active {
    transform: translateX(40px);
    background-color: #fff;
}
.disabled {
    transform: translateX(0px);
    background-color: #707070;
}
.check {
    width: 80px;
}