.card{
    transition: .2s linear;
    background-color: #404040;
    border-radius: 12px;
    
}
.card:hover{
    background-color: #404040;
}

.imagezoom{
    transition: linear .2s;
    box-shadow: 0px 20px 30px #00000060;
}
.card:hover .imagezoom{
    transform: scale(1.05);
}


.new{
    padding: 6px 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #404040;
    color: #fff;
    transition: .2s linear;
}
.new:hover{
    color: #fff;
    background-color: #ED274A;
}

.tag{
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 6px;
    align-self: flex-start;
}