.bannerchapter{
    margin: 12px; 
    margin-left: 6px; 
    padding: 44px;
    padding-right: 0px;
    border-radius: 8px;
    flex-grow: 1;
}
.play{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    justify-content: center;
    margin: 0px 12px;
    align-items: center;
    color: #fff;
    font-size: 24px;
    align-self: center;
    cursor: cell;
    background: linear-gradient(142deg, #ED274A -7.93%, #FF007A 52.36%, #FF620A 88.53%);
}
.chapter{
    transition: .2s linear;
    backdrop-filter: blur(500px);
    background-color: #262626;
}
.chapter:hover{
    backdrop-filter: blur(100px);
    background-color: #404040;
}

.icb{
 background-color: #404040;
 padding: 10px 10px;
 border-radius: 100px;
 color: #fff;
 text-align: center;
 justify-content: center;
 font-size: 18px;
 margin-right: 10px;
}
.btrow{
    background-color: #262626;
    padding: 6px 20px 6px 10px;
    border-radius: 100px;
    align-items: center;
    margin-right: 10px;
    transition: .2s linear;
}
.btrow:hover{
    background-color: #303030;
}

.type{
    padding: 5px 10px;
    border-radius: 6px;
    text-align: center;
    align-self: center;
}
.btlike{
    background-color: #262626;
    padding: 6px 20px 6px 10px;
    border-radius: 100px;
    align-items: center;
    margin-right: 10px;
    color: #f7f7f7;
    font-family: 'Medium';
    transition: .2s linear;
    cursor: pointer;
}
.btlike:hover{
    color: #000;
    background-color: #f7f7f7;
}
.btlike:hover .icbl{
    color: #fff;
    background-color: #ED274A;
}
.icbl{
    background-color: #404040;
    padding: 10px 10px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    transition: .2s all;
    margin-right: 10px;
   }


.btcheck{
    color: #fff;
    background-color: #ED274A;
    padding: 6px 20px 6px 10px;
    border-radius: 100px;
    align-items: center;
    margin-right: 10px;
    font-family: 'Medium';
    transition: .2s linear;
    cursor: pointer;
}
.icblc{
    background-color: #ffffff30;
    padding: 10px 10px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    transition: .2s all;
    margin-right: 10px;
   }

   .coverimg{
    transition: all .2s;
    cursor: pointer;
}
.coverimg:hover{
    transform: scale(1.12) rotate(-10deg);
}



input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    height: 10px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -15px; /* Centers thumb on the track */
    background-color: #dedede;
    border-radius: 3rem;
    height: 40px;
    width: 40px;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #dedede;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    height: 10px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #dedede;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 3rem;
    height: 40px;
    width: 40px;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #dedede;
    outline-offset: 0.125rem;
  }

  .clr{
    margin-left: -10px;
    transition: .2s linear;
    cursor: pointer;
    border: 2px solid #00000050;
}
.clr:hover{
    margin-top: -10px;
  }