.bannerchapter{
    margin: 12px; 
    margin-left: 6px; 
    padding: 44px;
    padding-right: 0px;
    border-radius: 8px;
    flex-grow: 1;
}

.hoverd{
  transition: .2s linear;
  border-radius: 8px;
  padding: 10px;
}
.hoverd:hover{
  background-color: #656565;
}

.arrow{
  padding: 12px 12px 5px 12px;
  background-color: #303030;
  border-radius: 12px;
  transition: .2s linear;
  cursor: pointer;
}

.play{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    justify-content: center;
    margin: 0px 12px;
    align-items: center;
    color: #fff;
    font-size: 24px;
    align-self: center;
    transition: .2s linear;
    cursor: cell;
    background: linear-gradient(142deg, #ED274A -7.93%, #FF007A 52.36%, #FF620A 88.53%);
}
.play:hover{
  box-shadow: 0px 0px 10px 10px #ED274A50;
}
.add_collection{
  transition: .2s linear;
}
.add_collection:hover{
  transform: scale(1.2);
}
.chapter{
    transition: .2s linear;
    backdrop-filter: blur(500px);
    background-color: #262626;
}
.chapter:hover{
    backdrop-filter: blur(100px);
    background-color: #404040;
}

.icb{
 background-color: #404040;
 padding: 10px 10px;
 border-radius: 100px;
 color: #fff;
 text-align: center;
 justify-content: center;
 font-size: 18px;
 margin-right: 10px;
}
.btrow{
    background-color: #262626;
    padding: 6px 20px 6px 10px;
    border-radius: 100px;
    align-items: center;
    margin-right: 10px;
    transition: .2s linear;
}
.btrow:hover{
    background-color: #303030;
}

.type{
    padding: 5px 10px;
    border-radius: 100px;
    align-self: flex-start;
    margin-bottom: 10px;
    font-family: 'Medium';
    font-size: 18px;
}

.ongoing{
  padding: 5px 15px;
  border-radius: 100px;
  align-self: flex-start;
  margin-bottom: 10px;
  font-family: 'Medium';
  font-size: 18px;
}

.btlike{
    background-color: #262626;
    padding: 6px 20px 6px 10px;
    border-radius: 100px;
    align-items: center;
    margin-right: 10px;
    color: #f7f7f7;
    font-family: 'Medium';
    transition: .2s linear;
    cursor: pointer;
}
.btlike:hover{
    color: #000;
    background-color: #f7f7f7;
}
.btlike:hover .icbl{
    color: #fff;
    background-color: #ED274A;
}
.icbl{
    background-color: #404040;
    padding: 10px 10px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    transition: .2s all;
    margin-right: 10px;
   }


.btcheck{
    color: #fff;
    background-color: #ED274A;
    padding: 6px 20px 6px 10px;
    border-radius: 100px;
    align-items: center;
    margin-right: 10px;
    font-family: 'Medium';
    transition: .2s linear;
    cursor: pointer;
}
.icblc{
    background-color: #ffffff30;
    padding: 10px 10px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    transition: .2s all;
    margin-right: 10px;
   }

   .coverimg{
    transition: all .2s;
    cursor: pointer;
}
.coverimg:hover{
    transform: scale(1.12) rotate(-10deg);
}



input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #898989;
    border-radius: 0.5rem;
    height: 6px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px;
    background-color: #ef274f;
    border-radius: 3rem;
    height: 20px;
    width: 20px;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #ef274f;
    outline-offset: 5px;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    height: 10px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #dedede;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 3rem;
    height: 40px;
    width: 40px;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #dedede;
    outline-offset: 0.125rem;
  }

  .clr{
    margin-left: -10px;
    transition: .2s linear;
    cursor: pointer;
    border: 2px solid #00000050;
}
.clr:hover{
    margin-top: -10px;
  }

.btoption{
  transition: all .2s;  
  background-color: #303030;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.btoption:hover{
  background-color: #606060;
}

.btnext{
  transition: all .2s;  
  background-color: #303030;
  padding: 12px 12px;
  border-radius: 8px;
  flex-grow: 1;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.page{
  transition: .2s all;
  align-self: center;
}´

.input{
  font-family: 'Book';
  font-size: 2.2em;
  background-color: #404040;
  border-radius: 8px;
  outline: navy;
  padding: 12px;

}

.circle{
  filter:blur(120px);
  position: absolute;
  width: 200px;
  height: 200px;
  top: -50px;
  border-radius: 100px;
}

.circle2{
  filter:blur(100px);
  position: absolute;
  right: -50px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}