
.gradient {
    background: linear-gradient(45deg, #ED274A, #FF620A, #0092FF);
    background-clip: text;
    color: transparent;
    font-size: 82px;
    font-family: 'Intro';
    display: inline-block; 
    animation: gradientMovement 5s linear infinite; 
  }
  
  @keyframes gradientMovement {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  