.banner{
    margin-top: 12px; 
    margin-right: 6px; 
    overflow: auto;
    border-radius: 8px;
    position: relative;
    background: linear-gradient(145deg, #404040 -20.91%, #262626 54.92%);

}   
.cardlist{
    background: #404040;
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    cursor: pointer;
    transition: .2s linear;
}
.cardlist:hover{
    transform: scale(1.03);
}

.content{
    backdrop-filter: blur(500px);
    margin-top: 10px;
    justify-content: center;
}