.inpt{
    font-size: 24px;
    color: #fff;
    font-family: 'Book';
    border: 2px solid #505050;
    padding: 6px 10px;
    margin: 10px 0px;
    transition: .2s linear;
    border-radius: 8px;
    background-color: #303030;
}
.inpt:focus {
    outline: 0;
    box-shadow: 0 0 0px 0.25rem #ED274A80;
    border: 2px solid #ED274A;
  
}
.help{
    color: #f9f9f990;
    font-size: 16px;
    font-family: 'Book';
    margin-left: 5px;
}
.help:hover{
    color: #f9f9f9;
}