.play{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    justify-content: center;
    margin: 0px 12px;
    align-items: center;
    color: #fff;
    font-size: 24px;
    align-self: center;
    cursor: cell;
    background: linear-gradient(142deg, #ED274A -7.93%, #FF007A 52.36%, #FF620A 88.53%);
}

.check{
    background-color: #404040;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 100px;
}

.heart{
    background-color: #404040;
    color: #fff;
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 100px;
}
.progress{
    height: 20px;
    border-radius: 100px;
    background: linear-gradient(142deg, #ED274A -7.93%, #FF007A 52.36%, #FF620A 88.53%);
}
.tag{
    padding: 6px 10px;
    background-color: #404040;
    border-radius: 100px;
    font-size: 14px; 
    margin-right: 5px;
    color: #f7f7f7;
    font-family: Book;
}

.tag-green{
    padding: 6px 10px;
    background-color: rgb(185, 227, 185);
    border-radius: 100px;
    font-size: 14px; 
    margin-right: 5px;
    color: rgb(0, 60, 0);
    font-family: Book;
}

.tag-yellow{
    padding: 6px 10px;
    background-color: rgb(221, 221, 158);
    border-radius: 100px;
    font-size: 14px; 
    margin-right: 5px;
    color: #595903;
    font-family: Book;
}
.tag-red{
    padding: 6px 10px;
    background-color: rgb(241, 173, 173);
    border-radius: 100px;
    font-size: 14px; 
    margin-right: 5px;
    color: rgb(107, 0, 0);
    font-family: Book;
}
.rightbar{
    margin: 12px; 
    margin-left: 6px; 
    padding: 24px;
    border-radius: 8px;
    width: 25%;
    min-width: 300px;
    overflow: hidden;
}