.banner{
    margin: 12px; 
    margin-left: 6px; 
    padding: 44px;
    padding-right: 0px;
    border-radius: 8px;
    width: 100%;
    background: linear-gradient(145deg, #ED274A -20.91%, #191919 54.92%);
}
.blur{
    backdrop-filter: blur(200px);
    border-radius: 8px;
    align-items: center; 
    width: 220px;
    margin: 15px 20px 0px 0px; 
    background-color:#262626; 
    border-radius: 6px; 
    cursor: pointer;
    transition: 0.2s linear;
}
.blur:hover:before{
    position: absolute;
    content: '►';
    font-size: 32px;
    color: #fff;
    left: 18px;
    top: 14px;
}

.content{
    margin: 12px; 
    margin-left: 6px; 
    margin-top: 6px;
    border-radius: 8px;
    background: linear-gradient(145deg, #262626 -20.91%, #191919 54.92%);
}
.badge{
        padding: 6px 12px;
        margin-left: 20px;
        border-radius: 100px;
        font-family: 'Medium';
        background-color: #ED274A;
}
.bar{
    transition: .2s linear;
    border-radius: 12px;
    background-color: #262626;
}
.bar:hover{
    background-color: #303030;
}