/* HTML: <div class="loader"></div> */
.loader {
    height: 20px;
    margin-top: 20px;
    width: 230px;
    border-radius: 100px;
    --c:no-repeat linear-gradient(#ED274A 0 0);
    background: var(--c),var(--c),#ffb6c3;
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
  }
  
.btnext{
    transition: all .2s;  
    background-color: #404040;
    padding: 12px 12px;
    font-size: 24px;
    border-radius: 100px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: all .2s;
  }
  .btnext:hover{
    background-color: #ED274A;
  }