.card{
    border-radius: 12px;
    background-color: #363636;
    padding: 22px;
    margin: 6px;
}

.banner{
    margin-top: 12px; 
    margin-right: 6px; 
    overflow: auto;
    border-radius: 8px;
    background: linear-gradient(145deg, #404040 -20.91%, #262626 54.92%);

}   
.cardlist{
    background: linear-gradient(145deg, #404040 -20.91%, #262626 54.92%);
    border-radius: 12px;
    padding: 12px;
    width: 400px;
    cursor: pointer;
    transition: .2s linear;
}
.cardlist:hover{
    transform: scale(1.03);
}

.content{
    backdrop-filter: blur(500px);
    margin-top: 10px;
}

.btall{
    font-size: 24; 
    cursor: pointer;
    font-family: 'Medium'; 
    margin-bottom: 30px;
    padding: 10px 20px;
    transition: .2s linear;
    color: #909090;
    border-radius: 100px;
    align-self: center;
    border: 2px solid #909090;
}
.btall:hover{
    color: #fff;
    border: 2px solid #fff;
}

.top{
    position: fixed;
    bottom: 40px;
    right: 380px;
    z-index: 999;
    width: 64px;
    height: 64px;
    font-size: 32px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    animation: fadeInUp 0.3s ease-in-out; 
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .capa{
    transform: translateY(200px);
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 20px;
    transition: .4s linear;
  }
  .capa:hover{
    
    transform: translateY(20px);
  }

  .btsettings{
    font-size: 1.2em; 
    cursor: pointer;
    font-family: 'Book'; 
    margin-bottom: 30px;
    padding: 15px 20px;
    transition: .2s linear;
    color: #fffFFF90;
    border-radius: 5px;
    background-color: #404040;
    flex-grow: 1;
  }
  .btsettings:hover{
    color: #fff;
    background-color: #101010;
  }
  .sideprofile{
    background: linear-gradient(145deg, #363636 20.91%, #202020 54.92%);
    border-radius: 24px;
    padding: 32px;
    transition: .2s linear;
  }
  .bg{
    height: 260px; 
    width: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    opacity: 0.4;
  }