.avatar{
    width: 50px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover;
    transform: rotate(12deg);
    transition: .2s linear;
}
.avatar:hover{
    transform: rotate(0deg);
}
.card-comment{
    background-color: #262626;
    border-radius: 8px;
    padding: 12px 20px;
    margin-bottom: 20px;
}
.like{
    color: #fff;
    margin-right: 10px;
    background-color:#606060;
    padding: 6px 10px;
    padding-top: 8px;
    cursor: pointer;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dislike{
    color: #fff;
    margin-right: 10px;
    opacity: 0.7;
    border: 2px solid #606060;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}