.skeleton {
    background: linear-gradient(to right, #1D1D1D, #383838);
    background-size: 200% 100%;
    animation: gradientAnimation 3s infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 0;
    }
  
    50% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 100% 0;
    }
  }
  