
.cd{
    background-color: #303030;
    padding: 16px 24px;
    border-radius: 8px;
}
.emoji{
    transition: .2s linear;
}
.emoji:hover{
    transform: scale(1.1);
}
.link_chapter{
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
    border-radius: 8px;
    border-radius: 12px;
    align-self: center;
    text-align: center;

}
.icon_link{
    width: 100px;
    height: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
    cursor: pointer;
    border-radius: 12px;
    background: linear-gradient(45deg, #404040, #303030, #262626);
}

.icon_link:hover{
    background: #606060;
    transform: scale(1.1);
}
