.card {
  border-radius: 12px;
  background-color: #363636;
  padding: 22px;
  margin: 6px;
}
.banner {
  padding: 34px;
  border-radius: 8px;
}

.effect-1 {
  border-radius: 100px;
  background-color: #404040;
  border: 3px solid #404040;
  transition: .1s linear;
  z-index: 999;
  font-family: 'Book';
  font-size: 24px;
  padding: 12px 20px;
  color: #fff;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.effect-1:focus {
  outline: none;
  border: 3px solid #f7f7f7;
}
.effect-1::placeholder{
    color: #f7f7f7;
    opacity: .7;
}
.focus-border {
  background-color: #606060;
  font-size: 18px;
  padding: 12px 14px 20px 14px;
  font-family: 'Book';
  color: #fff;
  border-radius: 12px;
  transition: 0.4s;
  align-self: center;
  transform: translateY(-55px);
}
.effect-1:focus ~ .focus-border {
  transition: 0.4s;
  transform: translateY(-95px);
}
.btrole {
  transition: 0.4s;
}
.btrole:hover {
  transform: scale(0.9);
}
.btsearch{
    display: flex;
    border-radius: 8px;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: -52px;
    cursor: pointer;
    color: #fff;
    transition: .2s linear;
    background-color: #ED274A;
}

.image_poster{
    align-self: flex-end;
    border-radius: 6px;
    margin-right: -10px;
    margin-bottom: -20px;
    margin-top: 20px;
    box-shadow: 5px 20px 40px #00000090;
}


.search_input{
  border: 2px solid #303030;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 24px;
  width: 400px;
  font-family: 'Book';
  color: #f7f7f7;
  background-color: #383838;
  transition: .2s linear;
  outline: none;
}
.search_input:hover{
  border: 2px solid #505050;
}
.search_input:focus{
  border: 2px solid #ED274A;
}

.h_item{
  font-size: 24px;
  line-height: 1;
  font-family: 'Book';
  cursor: pointer;
  color: #f7f7f7;
  background-color: #383838;
  padding: 12px 20px;
  border-radius: 120px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
  transition: .2s linear;
}